/* Write your code here. */
.nav-card {
  background-color: #9796f0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-style {
  height: 22px;
  width: 22px;
  margin-top: 9px;
  margin-right: 4px;
}
.emoji-game-heading {
  font-family: 'Roboto';
  font-size: 15px;
  color: white;
}

.image-title-card {
  display: flex;
}
.score-card-style {
  display: flex;
}
.score-style {
  font-family: 'Roboto';
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}
